html{
    box-sizing: border-box;
    height: 100%;

}
*,
*::before
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body{
    align-items: center;
    background: linear-gradient(500deg,#DAF7A6,#73C6B6,#148F77 );
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}
.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background:#B3B6B7 ;
    border:solid #146F77;
    border-radius: 16px;
    box-shadow: 0 4px 30px #146F77;
    color: greenyellow;
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.20);
    border: solid  rgba(20, 143, 119, 0.5);
    flex-basis: 400px;
    height: 548px;
    padding: 20px 35px;
}
.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(20, 143, 119, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(20, 143, 119, 0.1);
    color: black;
    font-size: 30px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 360px;
}
.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.calc-button{
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.3);
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.20);
box-shadow: 0 3px 30px rgba(20, 143, 119, 0.5) ;
color: #181817;
flex-basis: 20%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 30px;
height:70px;
}
.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(218, 247, 166,0.5);
    border: 1px solid rgba(218, 247, 166,0.5);
    box-shadow: 0 4px 30px rgba(218, 247, 166,0.1);
    color: #181817;
    background:#DAF7A6;
}
.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}
.calc-button:hover{
    background-color: inherit;
}
.calc-button:active{
    background-color: #148F77;
}
.double{
    flex-basis: 47%;
}
.triple{
    flex-basis: 74%;
}
.foot{
overflow-x: auto;

    color: aliceblue;
}

    

